/*
  A theme inspired by ir_black
  - https://github.com/jschoolcraft/Limechat-Themes
*/

html {
  font-family:'Menlo';
  font-size: 9pt;
  background-color: #222;
  color: #c8c8c8;
}

body {}

.url { color: #aaa; }
.address {}
.highlight {
  font-weight: bold;
  color: #e77;
}

.line {}
.line[alternate=even] {}
.line[alternate=odd] {}

/*
.line[highlight=true] {
  background-color: #FFFFB6;
  color: #7C7C7C;
}
*/

/* Handle the overload of non important messages by ignoring them */
.line[type=mode], .line[type=join], .line[type=part], .line[type=quit] { display: none; }

.time { color: #FFFFCB; }
.place { color: #96CBFE; }

.sender[type=normal] { color: #ea6; }
.sender[type=myself] { color: #fd7; }

/* ML Textual Nick Colorization Mods */

.message[type=privmsg] {}
.message[type=notice] { color: #777; }
.message[type=action] { color: #777; }

.message[type=system], .message[type=join], .message[type=part], .message[type=kick],
.message[type=quit], .message[type=kill], .message[type=nick], .message[type=mode],
.message[type=topic], .message[type=invite], .message[type=wallops] {
  color: #99aa33;
}
.message[type=reply] { color: #509036; }

.message[type=error], .message[type=error_reply] { color: #FF6C60; }
.message[type=dcc_send_send] { color: #FF6C60; }
.message[type=dcc_send_receive] { color: #FF6C60; }
.message[type=debug_send] { color: #FF6C60; }
.message[type=debug_receive] { color: #FF6C60; }
